.Card {
  width: 300px;
  height: 300px;
  background-color: var(--soft-white);
  color: var(--gray);
  border-radius: 8px;
  box-shadow: 5px 5px 10px #22222270;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.Card h3 {
  font-size: 1.5rem;
  color: var(--primary);
}

.Card p {
  font-size: 1rem;
  color: var(--secondary);
}

.card_footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.card_footer_icons {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  color: var(--terceary);
}

.button {
  background-color: var(--primary);
  color: var(--soft-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: var(--red);
  transition: all 0.3s ease-in-out;
}
